@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');

/*FONT FAMILIES AND STYLING */
.h1 {
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    font-family: "Cinzel", serif;
}

.h2 {
    margin: auto;
    font-size: 26px;
    font-weight: 700;
    font-family: "EB Garamond", sans-serif;
}

.p-text {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.titillium-web {
    font-family: "Titillium Web", sans-serif;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
}

.cinzel {
    font-family: "Cinzel", serif;
}

/*COLORS */

/*TEAL TINTS */

.sumptuous-swamp {
    background-color: hsl(180, 100%, 10%);
    color: hsl(275, 100%, 95%);
}

.splendid-stream {
    background-color: hsl(180, 100%, 30%);
    color: hsl(275, 100%, 95%);
}

.awesome-aqua {
    background-color: hsl(180, 100%, 45%);
    color: hsl(45, 62%, 20%);
}

.bombastic-blue {
    background-color: hsl(180, 100%, 70%);
    color: hsl(180, 100%, 10%);
}

.brilliant-bubbles {
    background-color: hsl(180, 100%, 90%);
    color: hsl(180, 100%, 10%);
}


/*INDIGO TINTS */

.excellent-eggplant {
    background-color: hsl(275, 100%, 15%);
    color: hsl(275, 100%, 95%);
}

.amazing-aubergine {
    background-color: hsl(275, 100%, 35%);
    color: hsl(275, 100%, 95%);
}

.valiant-violet {
    background-color: hsl(275, 100%, 55%);
    color: hsl(275, 100%, 15%);
}

.pale-plum {
    background-color: hsl(275, 100%, 75%);
    color: hsl(180, 100%, 10%);
}

.lovely-lavender {
    background-color: hsl(275, 100%, 95%);
    color: hsl(180, 100%, 10%);
}

/*GOLD TINTS*/

.beautiful-bronze {
    background-color: hsl(45, 62%, 20%);
    color: hsl(275, 100%, 95%);
}

.luminous-leather {
    background-color: hsl(45, 62%, 35%);
    color: hsl(275, 100%, 95%);
}

.heavenly-honeycomb {
    background-color: hsl(45, 62%, 50%);
    color: hsl(45, 62%, 20%);
}

.miraculous-maize {
    background-color: hsl(45, 62%, 65%);
    color: hsl(180, 100%, 10%);
}

.whimsical-wheat {
    background-color: hsl(45, 62%, 80%);
    color: hsl(180, 100%, 10%);
}


/*SILVER TINTS*/

.noble-nickel {
    background-color: hsl(200, 2%, 55%);
    color: hsl(275, 100%, 95%);
}

.gallant-gray {
    background-color: hsl(200, 2%, 65%);
    color: hsl(275, 100%, 95%);
}

.fantastic-foil {
    background-color: hsl(200, 2%, 75%);
    color: hsl(180, 100%, 10%);
}

.magnificent-moon {
    background-color: hsl(200, 2%, 85%);
    color: hsl(180, 100%, 10%);
}

.dazzling-diamonds {
    background-color: hsl(200, 2%, 95%);
    color: hsl(180, 100%, 10%);
}


/*BUTTON STYLING */

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    height: 36px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.btn:active {
    box-shadow: none;
    margin-top: 2px;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.small {
    width: 105px;
    height: 30px;
    font-size: 16px;
}

.large {
    width: 147px;
    height: 42px;
    font-size: 20px;
}

.primary,
.primary-outline:hover {
    background-color: hsl(180, 100%, 30%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(180, 100%, 30%);
}

.primary:hover {
    background-color: hsl(180, 100%, 25%);
    border: 1px solid hsl(180, 100%, 25%);
}

.primary-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(180, 100%, 30%);
    border: 1px solid hsl(180, 100%, 30%);
}

.secondary,
.secondary-outline:hover {
    background-color: hsl(275, 100%, 55%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(275, 100%, 55%);
}

.secondary:hover {
    background-color: hsl(275, 100%, 50%);
    border: 1px solid hsl(275, 100%, 50%);
}

.secondary-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(275, 100%, 55%);
    border: 1px solid hsl(275, 100%, 55%);
}

.success,
.success-outline:hover {
    background-color: hsl(180, 100%, 10%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(180, 100%, 10%);
}

.success:hover {
    background-color: hsl(180, 100%, 15%);
    border: 1px solid hsl(180, 100%, 15%);
}

.success-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(180, 100%, 10%);
    border: 1px solid hsl(180, 100%, 10%);
}

.danger,
.danger-outline:hover {
    background-color: hsl(200, 2%, 75%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(200, 2%, 75%);
}

.danger:hover {
    background-color: hsl(200, 2%, 70%);
    border: 1px solid hsl(200, 2%, 70%);
}

.danger-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(200, 2%, 55%);
    border: 1px solid hsl(200, 2%, 55%);
}

.info,
.info-outline:hover {
    background-color: hsl(180, 100%, 45%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(180, 100%, 45%);
}

.info:hover {
    background-color: hsl(180, 100%, 40%);
    border: 1px solid hsl(180, 100%, 40%);
}

.info-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(180, 100%, 40%);
    border: 1px solid hsl(180, 100%, 40%);
}

.warning,
.warning-outline:hover {
    background-color: hsl(45, 62%, 50%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(45, 62%, 50%);
}

.warning:hover {
    background-color: hsl(45, 62%, 45%);
    border: 1px solid hsl(45, 62%, 45%);
}

.warning-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(45, 62%, 50%);
    border: 1px solid hsl(45, 62%, 50%);
}

.light,
.light-outline:hover {
    background-color: hsl(200, 2%, 95%);
    color: hsl(275, 100%, 15%);
    border: 1px solid hsl(200, 2%, 95%);
}

.light:hover {
    background-color: hsl(200, 2%, 90%);
    border: 1px solid hsl(200, 2%, 90%);
}

.light-outline {
    background-color: hsl(200, 2%, 95%);
    color: hsl(275, 100%, 15%);
    border: 1px solid hsl(275, 100%, 15%);
}

.dark,
.dark-outline:hover {
    background-color: hsl(275, 100%, 15%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(275, 100%, 15%);
}

.dark:hover {
    background-color: hsl(275, 100%, 20%);
    border: 1px solid hsl(275, 100%, 20%);
}

.dark-outline {
    background-color: hsl(275, 100%, 15%);
    color: hsl(200, 2%, 95%);
    border: 1px solid hsl(200, 2%, 95%);
}