@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400;700&family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');


/*FONT FAMILIES AND STYLING */
.h1 {
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
}

.h2 {
    margin: auto;
    font-size: 26px;
    font-weight: 700;
    font-family: "Cinzel", serif;
    
}

.p-text {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: "Bitter", serif;
    
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.titillium-web {
    font-family: "Titillium Web", sans-serif;
}

.bitter {
    font-family: "Bitter", serif;
}

.cinzel {
    font-family: "Cinzel", serif;
}

/*COLORS */

/*TEAL TINTS */

.sumptuous-swamp {
    background-color: hsl(180, 100%, 15%);
    color: hsl(300, 100%, 95%);
}

.splendid-stream {
    background-color: hsl(180, 100%, 30%);
    color: hsl(300, 100%, 95%);
}

.awesome-aqua {
    background-color: hsl(180, 100%, 45%);
    color: hsl(60, 50%, 20%);
}

.bombastic-blue {
    background-color: hsl(180, 100%, 70%);
    color: hsl(180, 100%, 10%);
}

.brilliant-bubbles {
    background-color: hsl(180, 100%, 90%);
    color: hsl(180, 100%, 10%);
}


/*MAGENTA TINTS */

.excellent-eggplant {
    background-color: hsl(300, 100%, 15%);
    color: hsl(300, 100%, 95%);
}

.amazing-aubergine {
    background-color: hsl(300, 100%, 25%);
    color: hsl(300, 100%, 95%);
}

.valiant-violet {
    background-color: hsl(300, 100%, 40%);
    color: hsl(300, 100%, 15%);
}

.pale-plum {
    background-color: hsl(300, 100%, 70%);
    color: hsl(180, 100%, 10%);
}

.lovely-lavender {
    background-color: hsl(300, 100%, 90%);
    color: hsl(180, 100%, 10%);
}

/*OLIVE TINTS*/

.ostentatious-olive {
    background-color: hsl(60, 50%, 15%);
    color: hsl(300, 100%, 95%);
}

.grungy-green {
    background-color: hsl(60, 50%, 25%);
    color: hsl(300, 100%, 95%);
}

.abundant-asparagus {
    background-color: hsl(60, 50%, 40%);
    color: hsl(60, 50%, 10%);
}

.marvelous-manzanilla {
    background-color: hsl(60, 50%, 60%);
    color: hsl(180, 100%, 10%);
}

.darling-dumpling {
    background-color: hsl(60, 50%, 80%);
    color: hsl(180, 100%, 10%);
}


/*SILVER TINTS*/

.noble-nickel {
    background-color: hsl(180, 5%, 55%);
    color: hsl(180, 5%, 95%);
}

.gallant-gray {
    background-color: hsl(180, 5%, 65%);
    color: hsl(180, 5%, 95%);
}

.fantastic-foil {
    background-color: hsl(180, 5%, 75%);
    color: hsl(180, 100%, 10%);
}

.magnificent-moon {
    background-color: hsl(180, 5%, 85%);
    color: hsl(180, 100%, 10%);
}

.dazzling-diamonds {
    background-color: hsl(180, 5%, 95%);
    color: hsl(180, 100%, 10%);
}


/*BUTTON STYLING */

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    height: 36px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.btn:active {
    box-shadow: none;
    margin-top: 2px;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.flat {
    box-shadow: none;
}

.small {
    width: 105px;
    height: 30px;
    font-size: 16px;
}

.large {
    width: 147px;
    height: 42px;
    font-size: 20px;
}

.fool,
.fool-outline:hover {
    background-color: hsl(180, 100%, 30%);
    color: hsl(180, 2%, 95%);
    border: 1px solid hsl(180, 100%, 30%);
}

.fool:hover {
    background-color: hsl(180, 100%, 25%);
    border: 1px solid hsl(180, 100%, 25%);
}

.fool.flat:active,
.fool-outline {
    background-color: hsl(180, 2%, 95%);
    color: hsl(180, 100%, 30%);
    border: 1px solid hsl(180, 100%, 30%);
}

.magician,
.magician-outline:hover {
    background-color: hsl(300, 100%, 40%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(300, 100%, 40%);
}

.magician:hover {
    background-color: hsl(300, 100%, 35%);
    border: 1px solid hsl(300, 100%, 35%);
}

.magician.flat:active,
.magician-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(300, 100%, 40%);
    border: 1px solid hsl(300, 100%, 40%);
}

.priestess,
.priestess-outline:hover {
    background-color: hsl(180, 100%, 15%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(180, 100%, 15%);
}

.priestess:hover {
    background-color: hsl(180, 100%, 20%);
    border: 1px solid hsl(180, 100%, 20%);
}

.priestess.flat:active,
.priestess-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(180, 100%, 15%);
    border: 1px solid hsl(180, 100%, 15%);
}

.empress,
.empress-outline:hover {
    background-color: hsl(180, 5%, 75%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(180, 5%, 75%);
}

.empress:hover {
    background-color: hsl(180, 5%, 70%);
    border: 1px solid hsl(180, 5%, 70%);
}

.empress.flat:active,
.empress-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(180, 5%, 55%);
    border: 1px solid hsl(180, 5%, 55%);
}

.emperor,
.emperor-outline:hover {
    background-color: hsl(180, 100%, 45%);
    color: hsl(180, 2%, 95%);
    border: 1px solid hsl(180, 100%, 45%);
}

.emperor:hover {
    background-color: hsl(180, 100%, 40%);
    border: 1px solid hsl(180, 100%, 40%);
}

.emperor.flat:active,
.emperor-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(180, 100%, 40%);
    border: 1px solid hsl(180, 100%, 40%);
}

.hierophant,
.hierophant-outline:hover {
    background-color: hsl(60, 50%, 40%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(60, 50%, 40%);
}

.hierophant:hover {
    background-color: hsl(60, 50%, 35%);
    border: 1px solid hsl(60, 50%, 35%);
}

.hierophant.flat:active,
.hierophant-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(60, 50%, 40%);
    border: 1px solid hsl(60, 50%, 40%);
}

.lovers,
.chariot-outline:hover {
    background-color: hsl(180, 5%, 95%);
    color: hsl(300, 100%, 15%);
    border: 1px solid hsl(180, 5%, 95%);
}

.lovers:hover {
    background-color: hsl(180, 5%, 90%);
    border: 1px solid hsl(180, 5%, 90%);
}

.chariot.flat:active,
.lovers-outline {
    background-color: hsl(180, 5%, 95%);
    color: hsl(300, 100%, 15%);
    border: 1px solid hsl(300, 100%, 15%);
}

.chariot,
.lovers-outline:hover {
    background-color: hsl(300, 100%, 15%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(300, 100%, 15%);
}

.chariot:hover {
    background-color: hsl(300, 100%, 20%);
    border: 1px solid hsl(300, 100%, 20%);
}

.lovers.flat:active,
.chariot-outline {
    background-color: hsl(300, 100%, 15%);
    color: hsl(180, 5%, 95%);
    border: 1px solid hsl(180, 5%, 95%);
}